html, body{
    height:100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1{
    font-family: 'Varela Round', Roboto, Segoe UI, sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #fff;
    text-shadow:
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 7px #f156c1,
    0 0 7px #f156c1,
    0 0 10px #f156c1,
    0 0 20px #f156c1,
    0 0 40px #f156c1,
    0 0 60px #f156c1
}
b, strong{
    color: #fff;
    text-shadow:
    0 0 2px #09e2ff,
    0 0 2px #09e2ff,
    0 0 4px #09e2ff94
}

i, em{
    color: #fff;
    text-shadow:
    0 0 2px #fff,
    0 0 2px #d9ff00,
    0 0 2px #d9ff00,
    0 0 4px #d9ff00
}

u{
    color: #fff;
    text-shadow:
    0 0 2px #fff,
    0 0 2px #f156c1,
    0 0 2px #f156c1,
    0 0 4px #f156c1
}

h2{
    font-family: Roboto, Segoe UI, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px; 
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
}

body{
    background: #271d35;
    color: #CEC5DF;
}

div.main{
    display:flex;
    height: 100%;
}
aside.sidebar{
    width: 300px;
    background: #1d1628;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    padding-bottom: 2em;
}

aside:after {
    content: "";
    display: block;
    height: 4em;
    width: 100%;
  }
div.newNote{
    padding-bottom: 5px;
    font-family: 'Varela Round', Roboto, Segoe UI, sans-serif;
    letter-spacing: 0.05em;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #00f6ff, 0 0 7px #00f6ff, 0 0 10px #00f6ff;
}
.newNote:hover {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px #f156c1, 0 0 7px #f156c1, 0 0 10px #f156c1;
}

section.holder{
    margin-left: 300px;
    width: -webkit-fill-available;
    height: 100%;
    padding: 6em 8em;
}
div.icon{
    height: 30px;
    width: 50px;
    line-height: 30px;
    font-size: 35px;
}
.holder div.icon{
    cursor:pointer;
}

.holder div.icon, .holder h1{
    display: inline-block;
    vertical-align: middle;
}
.holder div.post-body{
    padding-bottom: 2em;
}

[contenteditable]:focus{
    outline:0px solid transparent;
}
[placeholder]:empty:before{
    content: attr(placeholder);
    color: #CEC5DF;
    font-family: roboto, 'Segoe UI', sans-serif;
    text-shadow: none;
    opacity:0.5;
    cursor:text;
}
[placeholder]:empty:focus:before{
    content: "";
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.newNote, ul li{
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding: 5px 20px;
}
.newNote:hover,
ul li.active,
ul li:hover{
    background-color: #4c465a;
}

.deletePage{
    margin-right: 15px;
}
.savePage, .deletePage{
    float: right;
    padding: 10px 20px;
    background: transparent;
    border-radius: 3px;
    border: 2px solid;
    color: #CEC5DF;
    font-family:  Roboto, 'Segoe UI', 'Open Sans', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.savePage:hover, .deletePage:hover{
    background:#CEC5DF;
    color: black;
}
.hidden{
    display: none;
}
.post-body{
    min-height: 100px;
    width: 100%;
}

::-webkit-scrollbar{
    width: 12px;
}::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #716785;
}::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(0deg, #e3f552, #f156c1);
}
aside.sidebar::-webkit-scrollbar{
    display:none;
}